Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  portability-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  hicpp-*,
  -modernize-use-trailing-return-type
WarningsAsErrors: '*'
HeaderFilterRegex: '^(src|include|libs)/'
FormatStyle: none
